include ./common/_mixin
doctype html
html(lang="ru")
	include ./common/_head
	body
		section.section__front
			.container.layout
				include ./common/_header
				h1.front__h1 Качественная складская техника для всех сфер, гидравлические подъемные столы для легкой и тяжелой промышленности, роклы для складов и логистических центров, гидравлические штабелеры для погрузоки и разгрузоки грузовых авто, электроштабелеры для складов с высоким уровнем хранения товара, специализированная складская техника для пищевой и фармо сферы. 
				include ./common/_contactUs

		section.section__product
			.container
				h2.section__h2 Продукция
				+tabControl('product-list', ['Роклы', 'Штабелеры', 'Электроштабелеры', 'Подъемные столы'], '1')
				include ./common/_products

		section.section__about
			.container
				h2.section__h2.section__h2_white О нас
				p.p Мы компания импортер, на рынке Украины мы более 20лет, наш ассортиментный портфель насчитывает более 15000 наименований, в ассортименте представлены такие направления как: инструменты, генераторы, строительная техника, опрыскиватели.
				p.p Складская техника это новое направление, которое мы активно развиваем и продвигаем на рынке Украины. Мы начинали с производства гидравлических рокл и на сегодня в нашем ассортиментном портфеле есть гидравлические тележки(роклы), гидравлические штабелеры, пожъемные столы, электрическая техника. Качесвтво складской техники Vulkan  признана такими компаниями как КЕРНЕЛ, АСТАРТА, ФОРМАК, ЕКОФАРМ и многие другие.
				p.p Одним из главных преимуществ является отличное сочетание высокого качества складской техники за вменяемую стоимость.
				h2.section__h2.section__h2_white Доставка
				p.p Мы продаем складскую технику по всей Украине, одним из вопросов с которым сталкиваются клиенты это доставка. Доставку товара мы можем осуществить любой транспортной компанией, которая будет удобна нашему клиенту. По Киеву и Виннице мы делаем доставку бесплатно, в удобное для клиента время. 
				h2.section__h2.section__h2_white Сервисное обслуживание и гарантия
				p.p На складскую технику гидравлическую и электрическую, распространяется гарантия 12месяцев, за два года продаж и проданных тысяч едениц складской техники не было не единого случая поломок. Однако будет лукавство сказать что все так гладко ведь человеческий фактор всегда присутствует и небрежное обращение и использование складской техники в жестких условиях способствуют к сокращению ресурса работы и приводят к поломкам и в данном случае нашим клиентом не стоит переживать на счет ремонта, мы ремонтируем складскую технику, а также поддерживаем в наличие все запчастb к складской технике как гидравлической так и электрической.
				
		section.section__contacts
			h2.section__h2.section__h2_white.section__h2_absolute.section__h2_bg Контакты
			#map
			+contacts('contacts-information', {
				'map': 'г.Киев ул.Северо-Сырецкая, 1-3Г оф.216',
				'phone': '+380674302151', 
				'envelope': 'rm1f6@ukrservice.biz'
				})
		include ./common/_modal
		include ./common/_footer