doctype html
html
	include common/_head
	body
		section.front__section
			include ./common/header

		section.product__section
		section.delivery__section
		section.contacts__section
		footer.footer
			p.footer__p Складская Техника
			p.footer__p 2017 Все права защищены