include ./common/_mixin
doctype html
html(lang="ru")
    include ./common/_head
    body
        section.section__news-catalog
            .bg-fixed
            .container
                include ./common/_header
                
                +newsCatalog('news-catalog', {
                    1: {
                        title: 'Comming soon awdawkjdfl wajfl awjfkl awjf;',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    2: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    3: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    4: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    5: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    6: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    7: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    8: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    9: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    },
                    10: {
                        title: 'Comming soon',
                        desc: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius culpa vitae ad ratione rerum repudiandae error. Provident asperiores voluptatem mollitia hic laboriosam eos adipisci accusamus, itaque ad dignissimos ea placeat!',
                        date: '31/12/17',
                        src: './assets/img/bgDelivery.jpg'
                    }
                })

                +pagination(['1', '2', '3', '4', '5', '...', '7', '8', '9', '10', '11', '12'])
        include ./common/_footer