include ./common/_mixin
doctype html
html(lang="ru")
    include ./common/_head
    body
        section.section__product-catalog
            .bg-fixed
            .container
                include ./common/_header
                +productCatalog('product-catalog', {
                    1: {
                        src: './assets/img/truckLift.jpg',
                        title: 'Гидравлические тележки',
                        elem: {
                            1: 'Рокла',
                            2: 'Тележка для бочек'
                        }
                    },
                    2: {
                        src: './assets/img/hand-stacker-vulkan.jpg',
                        title: 'Гидравлические штабелеры',
                        elem: {
                            1: 'Штабелеры 1т',
                            2: 'Штабелеры 1,5т',
                            3: 'Штабелеры 2т',
                            4: 'Опрокидователь  бочек'
                        }
                    },
                    3: {
                        src: './assets/img/_4.png',
                        title: 'Гидравлические столы',
                        elem: {
                            1: 'Подъемные столы'
                        }
                    },
                    4: {
                        src: './assets/img/1.jpg',
                        title: 'Электрические штабелеры',
                        elem: {
                            1: 'Полуэлектрические штабелеры',
                            2: 'Самоходные штабелеры'
                        }
                    }
                })
        
        
        include ./common/_footer