include ./common/_mixin
doctype html
html(lang="ru")
    include ./common/_head
    body
        section.section__product-info
            .bg-fixed
            .container
                include ./common/_header
                .main-container
                    aside.left-side-catalog
                        h3.h3 Каталог продукции
                        +leftSideCatalog({
                            rokla: {
                                title: 'Роклы',
                                items: ['Рокла 2т','Рокла 2,5т','Рокла 3т','Рокла нерж'],
                                active: true
                            },
                            shtab: {
                                title: 'Штабелеры',
                                items: ['Штабелер 1016','Штабелер 2016','Штабелер 1530','Штабелер бочковерт'],
                                active: false
                            },
                            table: {
                                title: 'Подъемные столы',
                                items: ['Стол подъемный 150/07','Стол подъемный 350/13','Стол подъемный 1010','Стол подъемный 1017','Стол подъемный '],
                                active: false
                            },
                            electro: {
                                title: 'Электроштабелеры',
                                items: ['Самоходный штабелер 1535','Самоходный штабелер 1545','Полуэлектрический штабелер 1535'],
                                active: false
                            }
                        })
                        
                        
                        
                    .right-side
                        +product('product', {
                            title: 'Рокла 2000',
                            src: './assets/img/truckLift.jpg',
                            icons: '',
                            description: {
                                p: ['Рокла Vulkan с грузоподъемностью на 2 и 2.5 тонны — это надежное профессиональное оборудование устройство, которое используется для перемещения разных грузов: коробки, паллеты и т.д. Подобные роклы используются как правило для перевозки тяжелых грузов в супермаркетах, складах, на производстве.',
                                'Данная модель гидравлической роклы снабжена высококачественными полиуретановыми колесами, которые произведены из полиуретана и имеют резиновое покрытие красного цвета. Покрытие колес способствует работе тележки на разной поверхности: плитке, полированном бетоне и т.д. Диаметр имеющихся двойных задних колес равен 180,0 мм. Толщина этих колес составляет 50,0 мм. Установленные на гидротележке передние колеса имеют диаметр 80,0 мм. Их толщина равна 60,0 мм. Эти колеса находятся на каждой их вил устройства.'],
                                ul: {
                                    title: 'Отличительные особенности:',
                                    li: ['Полиуритановые колеса на подшипниках. Колеса не оставляют следов и создают минимальный шум.', 'Качественные сварные швы', 'Масивный гидравлический блок для больших нагрузок']
                                }},
                            table: {
                                'Модель': 'SYP-2000',
                                'Грузоподъемность': '2000т',
                                'Длина вил': '1150мм',
                                'Переднее колесо': '180x50мм',
                                'Заднее колесо': '80x60мм',
                                'Вес': '75кг',
                                'Цена': '6500грн',
                            }

                        })

        
        include ./common/_footer