include _mixins
section.section_padding.section__about-us
	.container
		.title__container
			.title__bg
				+svg('aboutus', 'svg__bg')
			h2.section__title.title__about-us О нас
		.about-us
			p.about-us__text Мы работаем от импортера, компании, которая производит и ввозит складскую технику на Украину, а также в дальнейшем несет гарантийные обязательства по качеству товара. Цены по которым мы продаем на сегодняшний день это лучшее сочетание цены и качества на роклы, штабелеры и подъемные столики. По части качества товара, мы на 100% уверено можем заявить: торговая марка Vulkan является одной из качественных статистика говорит за нас - за год продаж всего было несколько актов рекламации, которые были связаны по большому счету с условиями использования, совсем печальный пол.
			p.about-us__text Работая с нами Вы всегда получите лучшую цену, качественную складскую техник, оперативное реагирование, молниносную доставку. Постгарантийное обслуживание  и при необходимости ремонт это то что Вы обязательно получите.
			p.about-us__text Перед покупкой можно приехать и посмотреть в живую на товар. Наши клиенты которые съели собак на складской технике отмечают: что не ожидали такой толщины металла, такого качества сварочного шва и каонечно такой безотказности.
		#map