header.header
    .logo
        a.logo__link(href="/") Складская
            span.logo__color_yellow Техника
    nav.nav
        a.burger__link(href="/")
            span.burger.burger1
            span.burger.burger2
            span.burger.burger3
        ul.nav__list
            li.nav__item
                a.nav__link(href="news-catalog-tpl.html") Новости
            li.nav__item
                a.nav__link(href="product-catalog-tpl.html") Каталог
            li.nav__item
                a.nav__link(href="#") Доставка
            li.nav__item
                a.nav__link(href="#") Контакты