.svg-38-dims {
	width: rem(30px);
	height: rem(30px);
}

.svg-arrow_10-dims {
	width: rem(26px);
	height: rem(26px);
}

.svg-box-dims {
	width: rem(26px);
	height: rem(26px);
	fill: #000;
}

.svg-cancel-dims {
	width: rem(32px);
	height: rem(32px);
}

.svg-mail-dims {
	width: rem(24px);
	height: rem(24px);
}

.svg-phone-dims {
	width: rem(139px);
	height: rem(139px);
}

.svg-triangle-down-dims {
	width: rem(32px);
	height: rem(32px);
}

.svg-water-dims {
	width: rem(26px);
	height: rem(26px);
}

.svg-weight-dims {
	width: rem(26px);
	height: rem(26px);
}

.svg-arrowCircle-dims {
	width: rem(30px);
	height: rem(30px);
	fill: #fff;
}

.svg-wallet-dims {
	width: rem(30px);
	height: rem(30px);
}