doctype html
html
	include ../common/_head
	body
		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->
		h1 Hi
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laboriosam repellat dignissimos accusantium ab beatae suscipit temporibus! Earum corporis inventore unde obcaecati? Quaerat facilis omnis vero rerum? Natus, sunt hic.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, libero?
		p Obcaecati labore exercitationem odit nemo natus sunt facere reiciendis illo!
		p Possimus earum quisquam, debitis quaerat fuga placeat fugit cumque sed?